<div style="position:fixed;height:100%;width:60px;background-color:#222;top:0;left:0">
    <div style="text-align:center;margin-top:40px;font-size:24px;">
        <a href='#/' style="width:">
            <span class="glyphicon glyphicon-home" style="color:#ccc;padding-bottom:24px"></span>
            <br />
        </a>
        <a href="#/blog-list:{{item.category}}:1" ng-repeat="item in blog_category">
            <span class="glyphicon glyphicon-{{item.icon}}" style="color:#ccc;padding-bottom:24px"></span>
            <br />
        </a>
    </div>
</div>
<div class="container" style="margin-top:40px;">
    <div style="width:50px;height:50px;border:4px solid #000;border-radius:25px">
        <div ng-click="go_back()" ng-mouseover="mouse_over_go_back='background:#000;'" ng-mouseleave="mouse_over_go_back=''" style="width:32px;height:32px;margin:5px;{{mouse_over_go_back}}border-radius:24px">&nbsp;</div>
    </div>
    <div class="row">
        <div style="min-height:400px" class="col-xs-8 col-xs-offset-2">
            <div ng-bind-html="content" style="color:#333;line-height:32px">
            </div>
        </div>
    </div>
</div>
