<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" style="box-shadow:0px 0px 18px #aaa;background:#efefef;border-radius:10px;margin-top:100px">
        <a href="#">
            <div class="center-block" style="margin-bottom:20px;box-shadow:0px 0px 18px #f00;margin-top:-50px;background:#444;text-align:center;padding-top:20px;padding-bottom:20px;width:200px;height:200px;border-radius:100px">
                <img src="/contents/img/header.png" style="width:120px;height:120px;margin-top:15px" />
            </div>
        </a>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2" style="text-align:center; font-family:'Microsoft Yahei'">
                o(°▽ ° o)... 部落阁子
                <hr style="border-color:#ccc" />
                <div class="row" style="text-align:center;line-height:33px;padding-bottom:30px">
                    <div class="col-md-6">
                        <a href="http://github.com/Gscienty">Github</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#/blog-list:Default:1">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
